# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#

version: 2
jobs:
  checkout_code:
      docker:
        - image: circleci/node:7.10
      working_directory: ~/checkout-dir
      steps:
        - checkout
        - run: yarn install
        - save_cache:
            key: v1-repo-{{ checksum "package.json" }}
            paths:
              - ~/checkout-dir
  build_and_test:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/checkout-dir      
    steps:
      - restore_cache:
          key: v1-repo-{{ checksum "package.json" }}
      - run: yarn install
      - save_cache:
          key: v1-repo-{{ checksum "package.json" }}
          paths:
            - ~/checkout-dir
      - run: npm run build
      - run: npm test
  npm_publish:
    docker:
      - image: circleci/node:7.10
    steps:
      - run:
          name: setup npm
          command: |
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: npm publish
      
workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test

deployment:
  npm:
    branch: master
    tag: /v[0-9]+(\.[0-9]+)*/
    commands:
      - npm publish