# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#

version: 2
jobs:
  build_and_test:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/checkout-dir      
    steps:
      - checkout
      - run: yarn install
      - run: npm run build
      - run: npm test
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/checkout-dir
  npm_publish:
    docker:
      - image: circleci/node:7.10
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: setup npm
          command: |
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: npm publish
      
workflows:
  version: 2
  build:
    jobs:
      - build_and_test
  build_and_deploy:
    jobs:
      - build_and_test
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
            branches:
              only: master
      - npm_publish
          requires:
            - build_and_test
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
            branches:
              only: master

deployment:
  npm:
    branch: master
    tag: /v[0-9]+(\.[0-9]+)*/
    commands:
      - npm publish